* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex: 1;
  border: 1px solid hotpink;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.items-ui {
  width: 800px;
}

.input-container input {
  height: 30px;
  border-radius: 3px;
  margin: 0 10px;
  padding: 5px;
}

.input-container > button {
  height: 40px;
  width: 60px;
  border-radius: 3px;
  font-size: 20px;
}

#listContainer {
  padding: 10px;
}

.list-item {
  width: 300px;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
